@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
* {
  font-family: "Roboto", "Shrikhand", Verdana, Tahoma, sans-serif;
  box-sizing: border-box;
}

/*Eh oui, des maps dans les maps ! Inception. 🤯

Vous pouvez assigner n’importe quel type de données Sass comme valeurs 
dans vos maps (ou listes). Vos inputs de texte doivent stocker trois 
couleurs distinctes, du coup chaque clé contiendra elle-même une clé avec 
trois valeurs : les couleurs de la bordure, du fond et du texte :

$colour-primary: #15DEA5;
$colour-secondary: #001534;
$colour-accent: #D6FFF5;
$colour-white: #fff;
$colour-invalid: #DB464B;
$txt-input-palette: (
  active: (
      bg: $colour-primary,
      border: $colour-primary,
      txt: $colour-white,
  ),
  focus: (
      bg: $colour-primary,
      border: $colour-primary,
      txt: $colour-white,
  ),
  invalid: (
      bg: $colour-invalid,
      border: $colour-white,
      txt: $colour-white,
  )
);
*/
/* 
Une fois que l’ensemble du code a bien été séparé en partiels et 
importé, le fichier main.scss ne doit contenir que des imports. 
Les ensembles de règles sont eux aussi rangés dans leurs propres partiels:

@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";
@import "./base/base";
@import "./base/typography";
@import "./components/buttons";
@import "./layouts/header";
@import "./layouts/nav";
@import "./layouts/container";
@import "./layouts/form";
@import "./pages/work";
@import "./pages/about";
@import "./pages/project";
*/
.body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: "Roboto";
}

.logo {
  width: 100%;
  justify-content: center;
}
.logo img {
  width: 44.25%;
  height: auto;
  margin: 22px auto 12px auto;
}

.maps {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #EAEAEA;
  box-shadow: 0 5px 5px #D4D4D4 inset;
  gap: 18px;
}
.maps i {
  font-size: 1.1rem;
}
.maps__btn input {
  width: 140px;
  background-color: #EAEAEA;
  border: none;
  font-size: 1rem;
  font-weight: 600;
}

.intro {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 40px 0 50px 0;
  text-align: center;
}
.intro p {
  font-size: 1.1rem;
  line-height: 120%;
  margin-bottom: 30px;
}

h1 {
  width: 62.2%;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 115%;
  margin-bottom: 12px;
}

.btn {
  width: 220px;
  height: 50px;
  border: none;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 500;
  box-shadow: 5px 5px 5px #D4D4D4;
}
.btn--rounded {
  border-radius: 25px;
}
.btn--gradient {
  background: linear-gradient(-5deg, #9356DC, #FF79DA);
}

.operative {
  padding: 52px 20px 62px 20px;
}

.restaurants {
  padding: 58px 20px;
  background-color: #F6F6F6;
}

.headers {
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 115%;
  margin-bottom: 32px;
}

.howto {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 320px;
  height: 72px;
  padding: 28px 72px 24px 30px;
  margin: 0 0 25px 12px;
  border-radius: 22px;
  box-shadow: 5px 5px 5px #D4D4D4;
  background-color: #F6F6F6;
}
.howto--background {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 320px;
  height: 72px;
  padding: 28px 72px 24px 30px;
  margin: 0 0 25px 12px;
  border-radius: 22px;
  box-shadow: 5px 5px 5px #D4D4D4;
  background-color: #F5EDFF;
}
.howto__step--sort {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #9356DC;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0px auto;
  padding-top: 3px;
  position: absolute;
  left: -12px;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 500;
}
.howto__step__byline {
  display: flex;
  align-items: center;
  gap: 22px;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 500;
  color: black;
}
.howto__step__byline i {
  font-size: 22px;
  color: #7E7E7E;
}
.howto__step__byline--bg {
  display: flex;
  align-items: center;
  gap: 22px;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 500;
  color: black;
}
.howto__step__byline--bg i {
  font-size: 22px;
  color: #9356DC;
}

/* FOOTER */
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: auto;
  background-color: #353535;
  padding: 30px 0 40px 40px;
}
footer h2 {
  font-family: "Shrikhand";
  font-size: 1.2rem;
  font-weight: lighter;
  letter-spacing: 0.65px;
  color: #FFFFFF;
  width: 27%;
  text-align: center;
}

ul.feedback {
  list-style: none;
  margin: 0;
  padding: 15px 0 0 0;
}
ul.feedback li a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 1.8;
  letter-spacing: 0.6px;
}
ul.feedback li a i {
  width: 25px;
  font-size: 0.8rem;
}

/*# sourceMappingURL=styles.css.map */
