@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
@keyframes appearheart {
  0% {
    transform: scaleY(0) scaleX(0);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}
.card__like :hover > .heart i {
  display: none;
}
.card__like :hover > .heart img {
  display: flex;
  width: 28px;
  height: 28px;
  width: 100%;
  overflow: hidden;
  animation: appearheart 750ms ease-in-out;
  -o-animation: appearheart 750ms ease-in-out;
  -moz-animation: appearheart 750ms ease-in-out;
  -webkit-animation: appearheart 750ms ease-in-out;
}
@media (min-width: 992px) {
  .card__like :hover > .heart img {
    width: 30px;
    height: 30px;
  }
}
@media (min-width: 1240px) {
  .card__like :hover > .heart img {
    width: 32px;
    height: 32px;
    margin-right: 12px;
  }
}

@keyframes ticks {
  0% {
    transform: scaleY(0) scaleX(0);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}
.main-dishes {
  animation: ticks 750ms backwards ease-in-out;
}
.main-dishes--1 {
  animation-delay: 365ms;
  animation-direction: alternate;
  animation-fill-mode: backwards;
}
.main-dishes--2 {
  animation-delay: 655ms;
  animation-direction: alternate;
  animation-fill-mode: backwards;
}
.main-dishes--3 {
  animation-delay: 600ms;
  animation-direction: alternate;
  animation-fill-mode: backwards;
}

.body {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1600px;
  align-items: center;
  margin: auto;
  padding: 0;
  font-family: "Roboto", "Shrikhand", Verdana, Tahoma, sans-serif;
  box-sizing: border-box;
  font-size: 16px;
}
.body .main {
  position: relative;
  width: 100%;
  max-width: 1600px;
}
@media (min-width: 640px) {
  .body .main {
    margin-bottom: 40px;
  }
}
.body .main2 {
  position: relative;
  width: 100%;
  max-width: 1600px;
  margin-bottom: 220px;
}

.menus {
  display: flex;
  width: 100%;
  max-width: 1600px;
  margin: auto;
  height: auto;
  flex-direction: column;
  padding: 30px 5% 58px 5%;
  position: relative;
  top: 220px;
  background-color: #F6F6F6;
  border-radius: 36px 36px 0 0;
}
.menus__titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menus__titles h1 {
  width: auto;
  font-family: "Shrikhand";
  font-size: 1.45em;
  font-weight: 500;
  padding: 6px 1.6%;
}
@media (min-width: 992px) {
  .menus__titles h1 {
    font-size: 1.8em;
  }
}
.menus__titles i {
  font-size: 1.75em;
  padding-right: 5.87%;
  /* 22px; */
}
@media (min-width: 992px) {
  .menus__titles i {
    font-size: 2em;
  }
}
.menus__titles img {
  display: none;
}
.menus__titles:hover i {
  display: none;
}
.menus__titles:hover img {
  display: flex;
  width: 34px;
  height: 34px;
  overflow: hidden;
  animation: appearheart 750ms ease-in-out;
}
@media (min-width: 992px) {
  .menus__titles:hover img {
    width: 38px;
    height: 38px;
  }
}
@media (min-width: 430px) {
  .menus {
    top: 260px;
    margin-bottom: 40px;
  }
}
@media (min-width: 465px) {
  .menus {
    top: 280px;
    margin-bottom: 60px;
  }
}
@media (min-width: 500px) {
  .menus {
    top: 300px;
    margin-bottom: 80px;
  }
}
@media (min-width: 545px) {
  .menus {
    top: 320px;
    margin-bottom: 100px;
  }
}
@media (min-width: 590px) {
  .menus {
    top: 340px;
    margin-bottom: 120px;
  }
}
@media (min-width: 615px) {
  .menus {
    top: 360px;
    margin-bottom: 140px;
  }
}
@media (min-width: 640px) {
  .menus {
    top: 380px;
    margin-bottom: 160px;
    padding-left: 17.5%;
    padding-right: 17.5%;
  }
}
@media (min-width: 680px) {
  .menus {
    top: 415px;
    margin-bottom: 185px;
  }
}
@media (min-width: 720px) {
  .menus {
    top: 450px;
    margin-bottom: 230px;
  }
}
@media (min-width: 770px) {
  .menus {
    top: 485px;
    margin-bottom: 265px;
  }
}
@media (min-width: 820px) {
  .menus {
    top: 520px;
    margin-bottom: 300px;
  }
}
@media (min-width: 870px) {
  .menus {
    top: 550px;
    margin-bottom: 330px;
  }
}
@media (min-width: 920px) {
  .menus {
    top: 580px;
    margin-bottom: 360px;
  }
}
@media (min-width: 970px) {
  .menus {
    top: 615px;
    margin-bottom: 395px;
  }
}
@media (min-width: 1020px) {
  .menus {
    top: 650px;
    margin-bottom: 430px;
    padding-left: 20%;
    padding-right: 20%;
  }
}
@media (min-width: 1080px) {
  .menus {
    top: 685px;
    margin-bottom: 465px;
  }
}
@media (min-width: 1140px) {
  .menus {
    top: 720px;
    margin-bottom: 500px;
  }
}
@media (min-width: 1215px) {
  .menus {
    top: 765px;
    margin-bottom: 545px;
  }
}
@media (min-width: 1240px) {
  .menus {
    width: 100%;
    max-width: 1600px;
    padding-left: 5%;
    padding-right: 5%;
  }
  .menus > .blackboard {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  .menus > .blackboard .main-dishes {
    width: 30%;
    height: auto;
  }
}

@keyframes appearheart {
  0% {
    transform: scaleY(0) scaleX(0);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}
.headers {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 115%;
  margin-bottom: 32px;
}

.operative {
  justify-content: center;
  align-items: center;
  padding: 52px 5.5% 62px 5.5%;
  max-width: 640px;
  margin: auto;
}
.operative h2 {
  align-self: flex-start;
  margin-left: 1%;
}
@media (min-width: 992px) {
  .operative h2 {
    font-size: 1.4em;
  }
}
@media (min-width: 992px) {
  .operative p {
    font-size: 1.25em;
  }
}

.howto {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 96%;
  max-width: 550px;
  height: auto;
  padding: 28px 40px 24px 40px;
  margin: 0 0 25px 12px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #D4D4D4;
  background-color: #F6F6F6;
}
.howto--background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 96%;
  max-width: 550px;
  height: auto;
  padding: 28px 40px 24px 40px;
  margin: 0 0 25px 12px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #D4D4D4;
  background-color: #F5EDFF;
}
.howto__step--sort {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #9356DC;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0px auto;
  padding-top: 2px;
  position: absolute;
  left: -12px;
  color: #FFFFFF;
  font-size: 0.85em;
  font-weight: 500;
}
@media (min-width: 992px) {
  .howto__step--sort {
    font-size: 1em;
    width: 28px;
    height: 28px;
  }
}
.howto__step__byline {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  color: #FFFFFF;
  font-size: 0.85em;
  font-weight: 500;
  color: black;
}
.howto__step__byline i {
  font-size: 22px;
  text-align: center;
  color: #7E7E7E;
}
@media (min-width: 992px) {
  .howto__step__byline i {
    font-size: 28px;
  }
}
.howto__step__byline--bg {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  color: #FFFFFF;
  font-size: 0.85em;
  font-weight: 500;
  color: black;
}
.howto__step__byline--bg i {
  font-size: 22px;
  text-align: center;
  color: #9356DC;
}
@media (min-width: 992px) {
  .howto__step__byline--bg i {
    font-size: 28px;
  }
}

.restaurants {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  align-items: center;
  max-width: 640px;
  margin: auto;
  padding: 58px 5.5%;
}
.restaurants h2 {
  align-self: flex-start;
  margin-left: 1%;
}
@media (min-width: 992px) {
  .restaurants h2 {
    font-size: 1.6em;
  }
}
@media (min-width: 640px) {
  .restaurants {
    margin-bottom: -40px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #D4D4D4;
  position: relative;
  width: 100%;
  max-width: 420px;
  height: auto;
  background-color: #FFFFFF;
  margin-bottom: 24px;
}
@media (min-width: 1240px) {
  .card {
    max-width: 500px;
    height: 340px;
  }
}
.card a {
  text-decoration: none;
  color: black;
}
.card img {
  width: 100%;
  height: 175px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  object-position: bottom;
}
@media (min-width: 1240px) {
  .card img {
    height: 254px;
  }
}
.card__new-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 29px;
  border-radius: 2px;
  background-color: #99E2D0;
  font-size: 0.8em;
  font-weight: 500;
  color: #008766;
  position: absolute;
  top: 13px;
  right: 12px;
}
@media (min-width: 992px) {
  .card__new-btn {
    font-size: 0.9em;
    padding-top: 3px;
  }
}
@media (min-width: 1240px) {
  .card__new-btn {
    width: 86px;
    height: 34px;
    font-size: 1em;
    top: 22px;
    right: 22px;
  }
  .card__new-btn p {
    align-self: center;
  }
}
.card__like {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 24px 20px 16px;
}
.card__like img {
  display: none;
}
.card__like__byline {
  width: 166px;
  height: 42px;
  padding-top: -20px;
  line-height: 1.3;
  letter-spacing: -0.5px;
}
@media (min-width: 1240px) {
  .card__like__byline {
    width: 200px;
  }
}
.card__like h3 {
  font-size: 1em;
  font-weight: 700;
}
@media (min-width: 992px) {
  .card__like h3 {
    font-size: 1.05em;
  }
}
@media (min-width: 1240px) {
  .card__like h3 {
    font-size: 1.15em;
    margin-left: 14px;
  }
}
.card__like p {
  font-size: 0.93em;
}
@media (min-width: 992px) {
  .card__like p {
    font-size: 0.99em;
  }
}
@media (min-width: 1240px) {
  .card__like p {
    font-size: 1.08em;
    margin-left: 14px;
  }
}
.card__like i {
  font-size: 24px;
}
@media (min-width: 992px) {
  .card__like i {
    font-size: 26px;
  }
}
@media (min-width: 1240px) {
  .card__like i {
    font-size: 28px;
    margin-right: 12px;
  }
}
.card__like.heart img {
  width: 0%;
}

.logo {
  width: 100%;
  max-width: 992px;
  justify-content: center;
}
.logo img {
  width: 44.25%;
  height: auto;
  margin: 22px auto 12px auto;
}

.maps {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  max-width: 1600px;
  background-color: #EAEAEA;
  box-shadow: 0 5px 5px #D4D4D4 inset;
}
.maps__btn {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
@media (min-width: 992px) {
  .maps__btn {
    padding: 12px 0;
  }
}
.maps__btn i {
  font-size: 1em;
  align-self: center;
  padding-bottom: 5px;
}
@media (min-width: 992px) {
  .maps__btn i {
    font-size: 1.2em;
  }
}
.maps__btn input {
  width: 70%;
  text-align: center;
  max-width: 100%;
  background-color: #EAEAEA;
  border: none;
  font-size: 0.9em;
  font-weight: 500;
}
@media (min-width: 992px) {
  .maps__btn input {
    font-size: 1.1em;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 40px 20px 50px 20px;
  text-align: center;
}
.intro h1 {
  width: 72%;
  font-size: 1.25em;
  font-weight: 800;
  line-height: 115%;
  margin-bottom: 12px;
}
@media (min-width: 992px) {
  .intro h1 {
    font-size: 1.4em;
  }
}
.intro p {
  font-size: 0.85em;
  line-height: 120%;
}
@media (min-width: 992px) {
  .intro p {
    font-size: 1.1em;
  }
}
.intro .btn {
  width: auto;
  height: auto;
  padding: 14px 24px;
  border: none;
  margin-top: 30px;
  color: #FFFFFF;
  font-size: 0.85em;
  font-weight: 500;
  box-shadow: 5px 5px 5px #D4D4D4;
}
.intro .btn--rounded {
  border-radius: 25px;
}
@media (min-width: 992px) {
  .intro .btn--rounded {
    border-radius: 30px;
  }
}
.intro .btn--gradient {
  background: linear-gradient(-5deg, #9356DC, #FF79DA);
}
@media (min-width: 992px) {
  .intro .btn {
    font-size: 1.1em;
  }
}

@media (min-width: 992px) {
  .operative h2 {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
}

.restaurants__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media (min-width: 992px) {
  .restaurants {
    display: flex;
    width: 100%;
    max-width: 1600px;
  }
  .restaurants h2 {
    align-self: center;
    margin-bottom: 50px;
  }
  .restaurants__container {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 42px;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto 40px auto;
  }
}

/* FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 1600px;
  height: auto;
  background-color: #353535;
  padding: 30px 0 40px 8%;
  margin: auto;
}
@media (min-width: 640px) {
  .footer {
    display: flex;
    justify-content: center;
    padding-left: 47.5%;
    padding-right: 50%;
    margin: auto;
  }
}

.sock {
  width: 100%;
  max-width: 600px;
  margin: auto;
}
@media (min-width: 640px) {
  .sock {
    align-self: center;
    width: 240px;
    position: relative;
    left: -58px;
    margin: auto;
  }
}
.sock h2 {
  font-family: "Shrikhand";
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 0.65px;
  color: #FFFFFF;
  width: 100%;
  max-width: 600px;
  text-align: left;
  align-self: flex-start;
}
@media (min-width: 992px) {
  .sock h2 {
    font-size: 1.15em;
  }
}
.sock ul.feedback {
  list-style: none;
  margin: 0;
  padding: 15px 0 0 0;
}
.sock ul.feedback li a {
  text-decoration: none;
  font-size: 0.85em;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 1.7;
  letter-spacing: 0.1px;
}
.sock ul.feedback li a i {
  width: 25px;
  font-size: 1em;
}
@media (min-width: 992px) {
  .sock ul.feedback li a i {
    width: 28px;
    font-size: 1.2em;
  }
}
@media (min-width: 992px) {
  .sock ul.feedback li a {
    font-size: 0.9em;
  }
}
@media (min-width: 1240px) {
  .sock ul.feedback li a {
    font-size: 1em;
  }
}

.logo-arrow {
  display: flexbox;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1600px;
  height: auto;
  padding: 0 20px;
}
.logo-arrow img {
  width: 44.25%;
  max-width: 992px;
  height: auto;
  margin: 22px auto 12px auto;
}
.logo-arrow i {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 700;
  float: left;
  position: relative;
  bottom: -5px;
  margin: 5% 0;
}
@media (min-width: 500px) {
  .logo-arrow i {
    font-size: 25px;
    bottom: 0px;
  }
}
@media (min-width: 640px) {
  .logo-arrow i {
    font-size: 30px;
    bottom: 4px;
  }
}
@media (min-width: 1080px) {
  .logo-arrow i {
    font-size: 34px;
    bottom: 7px;
  }
}

.main-dishes__subtitles {
  font-size: 0.9em;
  font-weight: 400;
  padding: 24px 0 6px 1.6%;
}
@media (min-width: 992px) {
  .main-dishes__subtitles {
    font-size: 1.05em;
  }
}
.main-dishes__underline {
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  margin: -3px 0 14px 1.6%;
}
@media (min-width: 992px) {
  .main-dishes__underline {
    width: 43px;
    height: 3.2px;
  }
}

.dish {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  max-width: 480px;
  height: 68px;
  border-radius: 14px;
  background-color: #FFFFFF;
  margin: 12px auto 12px auto;
  box-shadow: 5px 5px 5px #D4D4D4;
}
@media (min-width: 992px) {
  .dish {
    height: 72px;
  }
}
.dish__name {
  width: 380px;
}
.dish__name h3 {
  font-size: 0.95em;
  font-weight: 500;
  letter-spacing: -0.85px;
  margin: 16px 0px 0px 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media (min-width: 992px) {
  .dish__name h3 {
    font-size: 1em;
    margin-left: 18px;
    letter-spacing: -1.2px;
  }
}
@media (min-width: 1340px) {
  .dish__name h3 {
    font-size: 1.1em;
  }
}
.dish__name p {
  font-size: 0.78em;
  font-weight: 300;
  letter-spacing: -0.03em;
  padding: 0px 0px 10px 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media (min-width: 992px) {
  .dish__name p {
    font-size: 0.85em;
    margin-left: 12px;
    letter-spacing: -1.1px;
  }
}
@media (min-width: 1340px) {
  .dish__name p {
    font-size: 0.9em;
    margin-left: 12px;
    letter-spacing: -0.7px;
  }
}
.dish__price {
  font-size: 0.95em;
  font-weight: 500;
  letter-spacing: -0.5px;
  position: relative;
  right: 0px;
  bottom: 8px;
  margin: 0 24px;
}
@media (min-width: 992px) {
  .dish__price {
    font-size: 1em;
    bottom: 12px;
  }
}
.dish i {
  display: none;
}
.dish__booking {
  width: 0%;
}
.dish:hover > .dish__booking {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
  min-width: 0px;
  height: 69px;
  border-radius: 0 14px 14px 0;
  background-color: #99E2D0;
  margin-right: 0px;
  width: 30%;
  transition: width 600ms ease-in-out;
  -webkit-transition: width 600ms ease-in-out;
  -o-transition: width 600ms ease-in-out;
}
@media (min-width: 992px) {
  .dish:hover > .dish__booking {
    height: 72px;
  }
}
.dish:hover > .dish__booking > .check, .dish:hover > .dish__booking i {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 22px;
  height: 22px;
  border-radius: 11px;
  padding: 0;
  /* 6px 0 0 4px; */
  font-size: 0.9em;
  color: #99E2D0;
  background-color: #FFFFFF;
  overflow: hidden;
  rotate: 360deg;
  transition: rotate 600ms ease-in-out;
  -webkit-transition: rotate 600ms ease-in-out;
  -o-transition: rotate 600ms ease-in-out;
}
@media (min-width: 390px) {
  .dish:hover > .dish__booking {
    width: 28%;
  }
}
@media (min-width: 410px) {
  .dish:hover > .dish__booking {
    width: 27%;
  }
}
@media (min-width: 430px) {
  .dish:hover > .dish__booking {
    width: 26%;
  }
}
@media (min-width: 440px) {
  .dish:hover > .dish__booking {
    width: 25%;
  }
}
@media (min-width: 450px) {
  .dish:hover > .dish__booking {
    width: 24%;
  }
}
@media (min-width: 460px) {
  .dish:hover > .dish__booking {
    width: 23%;
  }
}
@media (min-width: 470px) {
  .dish:hover > .dish__booking {
    width: 22%;
  }
}
@media (min-width: 480px) {
  .dish:hover > .dish__booking {
    width: 21%;
  }
}
@media (min-width: 490px) {
  .dish:hover > .dish__booking {
    width: 20%;
  }
}
@media (min-width: 500px) {
  .dish:hover > .dish__booking {
    width: 19%;
  }
}
@media (min-width: 510px) {
  .dish:hover > .dish__booking {
    width: 18%;
  }
}
@media (min-width: 520px) {
  .dish:hover > .dish__booking {
    width: 17%;
  }
}
@media (min-width: 530px) {
  .dish:hover > .dish__booking {
    width: 16%;
  }
}
@media (min-width: 1240px) {
  .dish:hover > .dish__booking {
    width: 35%;
  }
}
@media (min-width: 1290px) {
  .dish:hover > .dish__booking {
    width: 32.5%;
  }
}
@media (min-width: 1340px) {
  .dish:hover > .dish__booking {
    width: 30%;
  }
}
@media (min-width: 1390px) {
  .dish:hover > .dish__booking {
    width: 28%;
  }
}
@media (min-width: 1440px) {
  .dish:hover > .dish__booking {
    width: 26%;
  }
}
@media (min-width: 1490px) {
  .dish:hover > .dish__booking {
    width: 24%;
  }
}
@media (min-width: 1540px) {
  .dish:hover > .dish__booking {
    width: 23%;
  }
}
@media (min-width: 1600px) {
  .dish:hover > .dish__booking {
    width: 21%;
  }
}
.dish:hover > .dish__name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cover {
  position: absolute;
  width: 100%;
  max-width: 1600px;
}
.cover img {
  width: 100%;
  max-width: 1600px;
  object-fit: cover;
}
@media (min-width: 1290px) {
  .cover {
    display: flex;
    position: relative;
    justify-content: center;
    margin: 0 auto -820px 0;
    padding: 20px 0;
  }
  .cover img {
    width: 100%;
    max-width: 1600px;
    margin: 0;
  }
}

.btn {
  align-self: center;
  width: auto;
  height: auto;
  padding: 14px 50px;
  border: none;
  margin-top: 30px;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 0.85em;
  font-weight: 500;
  box-shadow: 5px 5px 5px #D4D4D4;
}
.btn a {
  color: #FFFFFF;
}
.btn--rounded {
  border-radius: 25px;
}
@media (min-width: 992px) {
  .btn--rounded {
    border-radius: 30px;
  }
}
.btn--gradient {
  background: linear-gradient(-5deg, #9356DC, #FF79DA);
}
.btn:hover {
  background: linear-gradient(-5deg, #a06be1, #ff94e1);
  box-shadow: 6px 6px 6px #c7c7c7;
}
@media (min-width: 992px) {
  .btn {
    font-size: 1.1em;
  }
}

#spinner {
  margin: 0;
  box-sizing: border-box;
  background-image: url("../../images/bgd.png");
  background-repeat: no-repeat;
  background-position: 50% 10%;
  display: flex;
  width: 100%;
  min-height: 120vh;
}

@keyframes rotate {
  0% {
    transform: rotateY(45deg);
  }
  100% {
    transform: rotateY(405deg);
  }
}
.loader {
  margin: 12% auto;
  perspective: 2500px;
  perspective-origin: 0px -1000px;
}
.loader .gallery {
  width: 160px;
  height: 160px;
  position: relative;
  transform: rotateY(45deg);
  transform-style: preserve-3d;
  animation: rotate 3000ms linear;
}
@media (min-width: 640px) {
  .loader .gallery {
    width: 200px;
    height: 200px;
  }
}
@media (min-width: 992px) {
  .loader .gallery {
    width: 250px;
    height: 250px;
  }
}
@media (min-width: 1240px) {
  .loader .gallery {
    width: 300px;
    height: 300px;
  }
}
@media (min-width: 1440px) {
  .loader .gallery {
    width: 350px;
    height: 350px;
  }
}
.loader .gallery > .gallery__3d {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.loader .gallery > .gallery__3d--rest1 {
  background-image: url("../../images/rest1-160.jpg");
  transform: translateZ(80px);
}
@media (min-width: 640px) {
  .loader .gallery > .gallery__3d--rest1 {
    background-image: url("../../images/rest1-200.jpg");
    transform: translateZ(100px);
  }
}
@media (min-width: 992px) {
  .loader .gallery > .gallery__3d--rest1 {
    background-image: url("../../images/rest1-250.jpg");
    transform: translateZ(125px);
  }
}
@media (min-width: 1240px) {
  .loader .gallery > .gallery__3d--rest1 {
    background-image: url("../../images/rest1.jpg");
    transform: translateZ(150px);
  }
}
@media (min-width: 1440px) {
  .loader .gallery > .gallery__3d--rest1 {
    background-image: url("../../images/rest1-350.jpg");
    transform: translateZ(175px);
  }
}
.loader .gallery > .gallery__3d--rest2 {
  background-image: url("../../images/rest2-160.jpg");
  transform: translateX(80px) rotateY(90deg);
}
@media (min-width: 640px) {
  .loader .gallery > .gallery__3d--rest2 {
    background-image: url("../../images/rest2-200.jpg");
    transform: translateX(100px) rotateY(90deg);
  }
}
@media (min-width: 992px) {
  .loader .gallery > .gallery__3d--rest2 {
    background-image: url("../../images/rest2-250.jpg");
    transform: translateX(125px) rotateY(90deg);
  }
}
@media (min-width: 1240px) {
  .loader .gallery > .gallery__3d--rest2 {
    background-image: url("../../images/rest2.jpg");
    transform: translateX(150px) rotateY(90deg);
  }
}
@media (min-width: 1440px) {
  .loader .gallery > .gallery__3d--rest2 {
    background-image: url("../../images/rest2-350.jpg");
    transform: translateX(175px) rotateY(90deg);
  }
}
.loader .gallery > .gallery__3d--rest3 {
  background-image: url("../../images/rest3-160.jpg");
  transform: translateZ(-80px);
}
@media (min-width: 640px) {
  .loader .gallery > .gallery__3d--rest3 {
    background-image: url("../../images/rest3-200.jpg");
    transform: translateZ(-100px);
  }
}
@media (min-width: 992px) {
  .loader .gallery > .gallery__3d--rest3 {
    background-image: url("../../images/rest3-250.jpg");
    transform: translateZ(-125px);
  }
}
@media (min-width: 1240px) {
  .loader .gallery > .gallery__3d--rest3 {
    background-image: url("../../images/rest3.jpg");
    transform: translateZ(-150px);
  }
}
@media (min-width: 1440px) {
  .loader .gallery > .gallery__3d--rest3 {
    background-image: url("../../images/rest3-350.jpg");
    transform: translateZ(-175px);
  }
}
.loader .gallery > .gallery__3d--rest4 {
  background-image: url("../../images/rest4-160.jpg");
  transform: translateX(-80px) rotateY(90deg);
}
@media (min-width: 640px) {
  .loader .gallery > .gallery__3d--rest4 {
    background-image: url("../../images/rest4-200.jpg");
    transform: translateX(-100px) rotateY(90deg);
  }
}
@media (min-width: 992px) {
  .loader .gallery > .gallery__3d--rest4 {
    background-image: url("../../images/rest4-250.jpg");
    transform: translateX(-125px) rotateY(90deg);
  }
}
@media (min-width: 1240px) {
  .loader .gallery > .gallery__3d--rest4 {
    background-image: url("../../images/rest4.jpg");
    transform: translateX(-150px) rotateY(90deg);
  }
}
@media (min-width: 1440px) {
  .loader .gallery > .gallery__3d--rest4 {
    background-image: url("../../images/rest4-350.jpg");
    transform: translateX(-175px) rotateY(90deg);
  }
}
.loader .gallery > .gallery__3d--omf {
  background-color: #9356DC;
  background-image: url("../../images/omf-160.png");
  transform: translateY(-80px) rotateX(90deg);
}
@media (min-width: 640px) {
  .loader .gallery > .gallery__3d--omf {
    background-image: url("../../images/omf-200.png");
    transform: translateY(-100px) rotateX(90deg);
  }
}
@media (min-width: 992px) {
  .loader .gallery > .gallery__3d--omf {
    background-image: url("../../images/omf.png");
    transform: translateY(-125px) rotateX(90deg);
  }
}
@media (min-width: 1240px) {
  .loader .gallery > .gallery__3d--omf {
    background-image: url("../../images/omf-300.png");
    transform: translateY(-150px) rotateX(90deg);
  }
}
@media (min-width: 1440px) {
  .loader .gallery > .gallery__3d--omf {
    background-image: url("../../images/omf-350.png");
    transform: translateY(-175px) rotateX(90deg);
  }
}

/*# sourceMappingURL=styles.css.map */
