@charset "UTF-8";
/*Eh oui, des maps dans les maps ! Inception. 🤯

Vous pouvez assigner n’importe quel type de données Sass comme valeurs 
dans vos maps (ou listes). Vos inputs de texte doivent stocker trois 
couleurs distinctes, du coup chaque clé contiendra elle-même une clé avec 
trois valeurs : les couleurs de la bordure, du fond et du texte :

$colour-primary: #15DEA5;
$colour-secondary: #001534;
$colour-accent: #D6FFF5;
$colour-white: #fff;
$colour-invalid: #DB464B;
$txt-input-palette: (
  active: (
      bg: $colour-primary,
      border: $colour-primary,
      txt: $colour-white,
  ),
  focus: (
      bg: $colour-primary,
      border: $colour-primary,
      txt: $colour-white,
  ),
  invalid: (
      bg: $colour-invalid,
      border: $colour-white,
      txt: $colour-white,
  )
);
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
.body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Shrikhand", Verdana, Tahoma, sans-serif;
  box-sizing: border-box;
  font-size: 16px;
}
.logo {
  width: 100%;
  justify-content: center;
}
.logo img {
  width: 44.25%;
  height: auto;
  margin: 22px auto 12px auto;
}

.maps {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #EAEAEA;
  box-shadow: 0 5px 5px #D4D4D4 inset;
  gap: 18px;
}
.maps i {
  font-size: 1.1rem;
}
.maps__btn input {
  width: 140px;
  background-color: #EAEAEA;
  border: none;
  font-size: 0.8em;
  font-weight: 600;
}

.intro {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 40px 20px 50px 20px;
  text-align: center;
}
.intro h1 {
  width: 72%;
  font-size: 1.25em;
  font-weight: 800;
  line-height: 115%;
  margin-bottom: 12px;
}
.intro p {
  font-size: 0.85em;
  line-height: 120%;
  margin-bottom: 30px;
}
.intro .btn {
  width: 220px;
  height: 50px;
  border: none;
  color: #FFFFFF;
  font-size: 0.85em;
  font-weight: 500;
  box-shadow: 5px 5px 5px #D4D4D4;
}
.intro .btn--rounded {
  border-radius: 25px;
}
.intro .btn--gradient {
  background: linear-gradient(-5deg, #9356DC, #FF79DA);
}

.operative {
  padding: 52px 20px 62px 20px;
}

.restaurants {
  padding: 58px 20px;
  background-color: #F6F6F6;
}

.headers {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 115%;
  margin-bottom: 32px;
}

.howto {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 320px;
  height: 72px;
  padding: 28px 30px 24px 30px;
  margin: 0 0 25px 12px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #D4D4D4;
  background-color: #F6F6F6;
}
.howto--background {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 320px;
  height: 72px;
  padding: 28px 30px 24px 30px;
  margin: 0 0 25px 12px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #D4D4D4;
  background-color: #F5EDFF;
}
.howto__step--sort {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #9356DC;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0px auto;
  padding-top: 2px;
  position: absolute;
  left: -12px;
  color: #FFFFFF;
  font-size: 0.85em;
  font-weight: 500;
}
.howto__step__byline {
  display: flex;
  align-items: center;
  gap: 22px;
  color: #FFFFFF;
  font-size: 0.85em;
  font-weight: 500;
  color: black;
}
.howto__step__byline i {
  font-size: 22px;
  color: #7E7E7E;
}
.howto__step__byline--bg {
  display: flex;
  align-items: center;
  gap: 22px;
  color: #FFFFFF;
  font-size: 0.85em;
  font-weight: 500;
  color: black;
}
.howto__step__byline--bg i {
  font-size: 22px;
  color: #9356DC;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #D4D4D4;
  position: relative;
  height: 252px;
  background-color: #FFFFFF;
  margin-bottom: 20px;
}
.card a {
  text-decoration: none;
  color: black;
}
.card img {
  width: 100%;
  height: 175px;
  border-radius: 20px 20px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}
.card__new-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 29px;
  border-radius: 2px;
  background-color: #99E2D0;
  font-size: 0.8em;
  font-weight: 500;
  color: #008766;
  position: absolute;
  top: 13px;
  right: 12px;
}
.card__like {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 24px 20px 16px;
}
.card__like__byline {
  width: 166px;
  height: 42px;
  padding-top: -20px;
  line-height: 1.3;
  letter-spacing: -0.5px;
}
.card h3 {
  font-size: 1em;
  font-weight: 700;
}
.card p {
  font-size: 0.93em;
}
.card i {
  font-size: 24px;
}

/* FOOTER */
.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: auto;
  background-color: #353535;
  padding: 30px 0 40px 30px;
}
.footer h2 {
  font-family: "Shrikhand";
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 0.65px;
  color: #FFFFFF;
  width: 27%;
  text-align: center;
}
.footer ul.feedback {
  list-style: none;
  margin: 0;
  padding: 15px 0 0 0;
}
.footer ul.feedback li a {
  text-decoration: none;
  font-size: 0.85em;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 1.7;
  letter-spacing: 0.1px;
}
.footer ul.feedback li a i {
  width: 25px;
  font-size: 1em;
}

.logo-arrow {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-arrow i {
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 24px;
  top: 26px;
}
.logo-arrow img {
  width: 44.25%;
  height: auto;
  margin: 22px auto 12px auto;
}

.menus {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  padding: 30px 3.73% 58px 3.73%;
  position: fixed;
  margin-top: -55px;
  background-color: #F6F6F6;
  border-radius: 36px 36px 0 0;
}
.menus__titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menus__titles h1 {
  width: auto;
  font-family: "Shrikhand";
  font-size: 1.5em;
  font-weight: 500;
  padding: 6px;
}
.menus__titles i {
  font-size: 1.7em;
  padding-right: 22px;
}

.main-dishes__subtitles {
  font-size: 0.9em;
  padding: 24px 0 6px 6px;
}
.main-dishes__underline {
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  margin: -3px 0 14px 6px;
}

.dish {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 70px;
  border-radius: 14px;
  background-color: #FFFFFF;
  padding: 16px 24px 14px 12px;
  margin-bottom: 12px;
  box-shadow: 5px 5px 5px #D4D4D4;
}
.dish__name, .dish h3 {
  font-size: 1em;
  letter-spacing: -1px;
}
.dish__name p, .dish h3 p {
  font-size: 0.85em;
}/*# sourceMappingURL=master.css.map */