@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');
*{ 
    font-family: 'Roboto', 'Shrikhand', Verdana, Tahoma, sans-serif;
    box-sizing: border-box;
}
@import "./utils/_variables.scss";
@import "./utils/_mixins.scss";


/* 
Une fois que l’ensemble du code a bien été séparé en partiels et 
importé, le fichier main.scss ne doit contenir que des imports. 
Les ensembles de règles sont eux aussi rangés dans leurs propres partiels:

@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";
@import "./base/base";
@import "./base/typography";
@import "./components/buttons";
@import "./layouts/header";
@import "./layouts/nav";
@import "./layouts/container";
@import "./layouts/form";
@import "./pages/work";
@import "./pages/about";
@import "./pages/project";
*/

.body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: "Roboto";
}
.logo{
    width: 100%;
    justify-content: center;
    img{
        width: 44.25%;
        height: min-content;
        margin: 22px auto 12px auto;
    }
}
.main{
    width: 100%;
}
.maps{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: $mapscolor;
    box-shadow: 0 5px 5px $shadow inset;
    gap: 18px;
    i{
        font-size: 1.1rem;
    }
    &__btn input{
        width: 140px;
        background-color: $mapscolor;
        border: none;
        font-size: 1rem;
        font-weight: 600;
    }
}
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 40px 0 50px 0;
    background-color: $groundcolor;
    text-align: center;
    p{
        font-size: 1.1rem;
        line-height: 120%;
        margin-bottom: 30px;
    }
}
h1{
    width: 77.85%;
    font-size: 1.6rem;
    font-weight: 800;
    line-height: 115%;
    margin-bottom: 12px;
}
.btn{
    width: 220px;
    height: 50px;
    border: none;
    color: $basecolor;
    font-weight: 500;
    @include box-shadow($shadow);
    &--rounded{
        @include round-btn;
    }
    &--gradient{
        @include gradient-btn;
    }
}





/* FOOTER */
footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: $footercolor;
    padding: 30px 0 40px 40px;
    h2{
        font-family: 'Shrikhand';
        font-size: 1.2rem;
        font-weight: lighter;
        letter-spacing: 0.65px;
        color: $basecolor;
        width: 27%;
        text-align: center;
    }
}
ul.feedback{
    list-style: none;
    margin: 0;
    padding: 15px 0 0 0;
    li a{
        text-decoration: none;
        font-size: 1rem;
        font-weight: 400;
        color: $basecolor;
        line-height: 1.8;
        letter-spacing: 0.6px;
        i{
            width: 25px;
            font-size: 0.8rem;
        }
    }
}