// Rubrique Introduction
.intro{
    @include column;
    @include ground;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 40px 20px 50px 20px;
    text-align: center;
    h1{
        width: 72%;
        font-size: 1.25em;
        font-weight: 800;
        line-height: 115%;
        margin-bottom: 12px;
        @media (min-width: 992px){
            font-size: 1.4em;
        }
    }
    p{
        font-size: 0.85em;
        line-height: 120%;
        @media (min-width: 992px){
            font-size: 1.1em;
        }
    }
    .btn{
        width: auto;
        height: auto;
        padding: 14px 24px;
        border: none;
        margin-top: 30px;
        @include typography;
        @include box-shadow($shadow);
        &--rounded{
            @include round-btn;
        }
        &--gradient{
            @include gradient-btn;
        }
        @media (min-width: 992px){
            font-size: 1.1em;
        }
    }
}