// Header Menus
.logo-arrow{
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1600px;
    height: auto;
    padding: 0 20px;
    & img{            
        width: 44.25%;
        max-width: 992px;
        height: auto;
        margin: 22px auto 12px auto;
    }
    & i {
        text-decoration: none;
        color: black;
        font-size: 20px;
        font-weight: 700;
        float: left;
        position: relative;
        bottom: -5px;
        margin: 5% 0;
        @media (min-width: 500px){
            font-size: 25px;
            bottom: 0px;
        } 
        @media (min-width: 640px){
            font-size: 30px;
            bottom: 4px;
        }
        @media (min-width: 1080px){
            font-size: 34px;
            bottom: 7px;
        }
    }
}
