// Rubrique Maps
.maps{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    max-width: 1600px;
    background-color: $mapscolor;
    box-shadow: 0 5px 5px $shadow inset;
    // gap: 20px;
    &__btn{
        display: flex;
        justify-content: center;
        padding: 10px 0;
        & i{
            font-size: 1em;
            align-self: center;
            padding-bottom: 5px;
            // margin-right: 20px;
        }
        & input{
            width: 70%;
            text-align: center;
            max-width: 100%;
            background-color: $mapscolor;
            border: none;
            font-size: 0.9em;
            font-weight: 500;
        }
    }
}