// Section Menus
.menus{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    padding: 30px 3.73% 58px 3.73%;
    position: absolute;
    top: 283px;
    background-color: $groundcolor;
    border-radius: 36px 36px 0 0;
    &__titles{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    & h1{
        width: 75%;
        font-family: 'Shrikhand';
        font-size: 1.6em;
        font-weight: 500;
        padding: 6px;
    }
    & i{
        font-size: 1.7em;
        padding-right: 24px;
    }
    & p{ 
        padding: 6px;
    }
    &__underline{
        width: 40px;
        height: 3px;
        background-color: $tertiarycolor;
        margin: -4px 0 14 6px;
    }
}