// Section Menus
.menus{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    padding: 30px 3.73% 58px 3.73%;
    position: fixed;
    margin-top: -55px;
    margin-bottom: auto;
    background-color: $groundcolor;
    border-radius: 36px 36px 0 0;
    &__titles{
        display: flex;
        justify-content: space-between;
        align-items: center;
        & h1{
            width: auto;
            font-family: 'Shrikhand';
            font-size: 1.5em;
            font-weight: 500;
            padding: 6px;
        }
        & i{
            font-size: 1.7em;
            padding-right: 22px;
        }
    }
}