// Animation "Loading Spinner"
@keyframes scale{
    0%{
        transform: scale(0%);
        opacity: 1;
        z-index: 2;
        -ms-transform: scale(0%);
        -moz-transform: scale(0%);
        -webkit-transform: scale(0%);
    }
    99%{
        transform: scale(99%);
        opacity: 1;
    }
    100%{ 
        transform: scale(100%);
        opacity: 0;
        -ms-transform: scale(100%);
        -moz-transform: scale(100%);
        -webkit-transform: scale(100%);
        z-index: 1;
    }
}
#spinner {
    position: absolute;
    margin: 0 auto;
    box-sizing: border-box;
    background-image: url("/images/bgd.png");
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 160vh;
    transform: scale(100%); 
    opacity: 0;
    -ms-transform: scale(100%);
    -moz-transform: scale(100%);
    -webkit-transform: scale(100%);
    animation: scale 3000ms ease-in-out;
    @media (min-width: 440px){
        background-image: url("/images/bgd-540.png");
    }
    @media (min-width: 540px){
        background-image: url("/images/bgd-640.png");
    }
    @media (min-width: 640px){
        background-image: url("/images/bgd-780.png");
    }
    @media (min-width: 780px){
        background-image: url("/images/bgd-880.png");
    }
    @media (min-width: 880px){
        background-image: url("/images/bgd-992.png");
    }
    @media (min-width: 992px){
        background-image: url("/images/bgd-1180.png");
    }
    @media (min-width: 1180px){
        background-image: url("/images/bgd-1320.png");
    }
    @media (min-width: 1320px){
        background-image: url("/images/bgd-1440.png");
    }
    @media (min-width: 1440px){
        background-image: url("images/bgd-1600.png");
    }
}
@keyframes rotate{
    0%{
        transform: rotateY(45deg) scale(0%);
        -ms-transform: rotateY(45deg) scale(0%);
        -moz-transform: rotateY(45deg) scale(0%);
        -webkit-transform: rotateY(45deg) scale(0%);
    }
    100%{ 
        transform: rotateY(405deg) scale(100%);
        -ms-transform: rotateY(405deg) scale(100%);
        -moz-transform: rotateY(405deg) scale(100%);
        -webkit-transform: rotateY(405deg) scale(100%);
    }
}
.loader {
    margin: 12% auto;
    perspective: 2500px;
    perspective-origin: 0px -1000px;
    .gallery{
        width: 160px;
        height: 160px;
        position: relative;
        transform: rotateY(45deg) scale(100%);
        transform-style: preserve-3d;
        animation: rotate 3000ms linear;
        @media (min-width: 640px){
            width: 200px; 
            height: 200px;
        }
        @media (min-width: 992px){
            width: 250px;
            height: 250px;
        }
        @media (min-width: 1240px){
            width: 300px;
            height: 300px;
        }
        @media (min-width: 1440px){
            width: 350px;
            height: 350px;
        }
        & > .gallery__3d{
            position: absolute;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            &--rest1{
                background-image: url("/images/rest1-160.jpg");
                transform: translateZ(80px);
                @media (min-width: 640px){
                    background-image: url("/images/rest1-200.jpg");
                    transform: translateZ(100px);
                }
                @media (min-width: 992px){
                    background-image: url("/images/rest1-250.jpg");
                    transform: translateZ(125px);
                }
                @media (min-width: 1240px){
                    background-image: url("/images/rest1.jpg");
                    transform: translateZ(150px);
                }
                @media (min-width: 1440px){
                    background-image: url("/images/rest1-350.jpg");
                    transform: translateZ(175px);
                }
            }
            &--rest2{
                background-image: url("/images/rest2-160.jpg");
                transform: translateX(80px) rotateY(90deg);
                @media (min-width: 640px){
                    background-image: url("/images/rest2-200.jpg");
                    transform: translateX(100px) rotateY(90deg);
                }
                @media (min-width: 992px){
                    background-image: url("/images/rest2-250.jpg");
                    transform: translateX(125px) rotateY(90deg);
                }
                @media (min-width: 1240px){
                    background-image: url("/images/rest2.jpg");
                    transform: translateX(150px) rotateY(90deg);
                }
                @media (min-width: 1440px){
                    background-image: url("/images/rest2-350.jpg");
                    transform: translateX(175px) rotateY(90deg);
                }
            }
            &--rest3{
                background-image: url("/images/rest3-160.jpg");
                transform: translateZ(-80px);
                @media (min-width: 640px){
                    background-image: url("/images/rest3-200.jpg");
                    transform: translateZ(-100px);
                }
                @media (min-width: 992px){
                    background-image: url("/images/rest3-250.jpg");
                    transform: translateZ(-125px);
                }
                @media (min-width: 1240px){
                    background-image: url("/images/rest3.jpg");
                    transform: translateZ(-150px);
                }
                @media (min-width: 1440px){
                    background-image: url("/images/rest3-350.jpg");
                    transform: translateZ(-175px);
                }
            }
            &--rest4{
                background-image: url("/images/rest4-160.jpg");
                transform: translateX(-80px) rotateY(90deg);
                @media (min-width: 640px){
                    background-image: url("/images/rest4-200.jpg");
                    transform: translateX(-100px) rotateY(90deg);
                }
                @media (min-width: 992px){
                    background-image: url("/images/rest4-250.jpg");
                    transform: translateX(-125px) rotateY(90deg);
                }
                @media (min-width: 1240px){
                    background-image: url("/images/rest4.jpg");
                    transform: translateX(-150px) rotateY(90deg);
                }
                @media (min-width: 1440px){
                    background-image: url("/images/rest4-350.jpg");
                    transform: translateX(-175px) rotateY(90deg);
                }
            }
            &--omf{
                background-color: $primarycolor;
                background-image: url("/images/omf-160.png");
                transform: translateY(-80px) rotateX(90deg);
                @media (min-width: 640px){
                    background-image: url("/images/omf-200.png");
                    transform: translateY(-100px) rotateX(90deg);
                }
                @media (min-width: 992px){
                    background-image: url("/images/omf.png");
                    transform: translateY(-125px) rotateX(90deg);
                }
                @media (min-width: 1240px){
                    background-image: url("/images/omf-300.png");
                    transform: translateY(-150px) rotateX(90deg);
                }
                @media (min-width: 1440px){
                    background-image: url("/images/omf-350.png");
                    transform: translateY(-175px) rotateX(90deg);
                }
            }
        }
    }
}