// Button Round Gradient
.btn{
    align-self: center;
    width: auto;
    height: auto;
    padding: 14px 50px;
    border: none;
    margin-top: 30px;
    @include typography;
    @include box-shadow($shadow);
    &--rounded{
        @include round-btn;
    }
    &--gradient{
        @include gradient-btn;
    }
    &:hover{
        @include lighten-btn;
        box-shadow: 6px 6px 6px #c7c7c7;
    }
    @media (min-width: 992px){
            font-size: 1.1em;
    }
}
a{
    color: $basecolor;
    text-decoration: none;
}