// Photo de couverture
.cover{
    position: absolute;
    
    max-width: 1600px;
    img{
    max-width: 640px;
    }
    @media (min-width: 640px) {
        display: flex;
        position: relative;
        justify-content: center;
        margin: auto;
        background-color: $mapscolor;
        box-shadow: 0 5px 5px $shadow inset;
        padding: 20px 0;
        img{
            width: 90%;
            max-width: 740px;
            border-radius: 36px;
            @include box-shadow ($shadow)
        }
    }
}