// Photo de couverture
.cover{
    position: absolute;
    width: 100%;
    max-width: 1600px;
    img{
        width: 100%;
        max-width: 1600px;
        object-fit: contain;
        
        @media (min-width: 992px){
            height: 150%;
            // object-position: 50% 0%;
        }
        @media (min-width: 1080px){
            position: relative;
            top: -10px;
        }
        @media (min-width: 1160px){
            top: -50px;
        }
        @media (min-width: 1240px){
            top: -140px;
        }
    }
    // @media (min-width: 992px){
    //     height: 85%;
    // }
    // @media (min-width: 1080px){
    //     height: 70%;
    // }
    // @media (min-width: 1160px){
    //     height: 55%;
    // }
    // @media (min-width: 1240px){
    //     height: 10%;
    //     // display: flex;
    //     // position: relative;
    //     // justify-content: center;
    //     // margin: 0 auto -820px 0;
    //     // padding: 20px 0;

    //     // img{
    //     //     width: 100%;
    //     //     max-width: 1600px;
    //     //     margin: 0;
    //     // }
    // }
}