// Photo de couverture
.cover{
    position: absolute;
    width: 100%;
    max-width: 1600px;
    img{
        width: 100%;
        max-width: 1600px;
        object-fit: cover;
    }
    @media (min-width: 1290px){
        display: flex;
        position: relative;
        justify-content: center;
        margin: 0 auto -820px 0;
        padding: 20px 0;
        img{
            width: 100%;
            max-width: 1600px;
            margin: 0;
        }
    }
}