// Nom du plat et garniture
.main-dishes{
    &__subtitles{
        font-size: 0.9em; 
        font-weight: 400;
        padding: 24px 0 6px 1.6%;
    }
    &__underline{
        width: 40px;
        height: 3px;
        background-color: $tertiarycolor;
        margin: -3px 0 14px 1.6%;
    }
}