// Bouton pour réserver des plats
.dish{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    max-width: 480px;
    height: 68px;
    border-radius: 14px;
    background-color: $basecolor;
    margin: 12px auto 12px auto;
    @include box-shadow ($shadow);

        
        // transform-origin: top;
        // transform: translateY(50%) scale(1);
        // transition: transform 1000ms ease-in-out;
    
    &__name{ 
        width: 380px;
        h3{
            font-size: 0.95em;
            font-weight: 500;
            letter-spacing: -0.85px;
            margin: 16px 0px 0px 8px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            @media (min-width: 992px){
                font-size: 1em;
                margin-left: 18px;
                letter-spacing: -1.2px;
            }
            @media (min-width: 1340px){
                font-size: 1.1em;
            }
        }
        p{
            font-size: 0.78em;
            font-weight: 300;
            letter-spacing: -0.03em;
            padding: 0px 0px 10px 8px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            @media (min-width: 992px){
                font-size: 0.8em;
                margin-left: 12px;
                letter-spacing: -1.1px;
            }
            @media (min-width: 1340px){
                font-size: 0.9em;
                margin-left: 12px;
                letter-spacing: -0.7px;
            }
        }
    }
    &__price{
        font-size: 0.95em;
        font-weight: 500;
        letter-spacing: -0.5px;
        position: relative;
        right: 0px;
        bottom: 8px;
        margin: 0 24px;
        @media (min-width: 992px){
            font-size: 1.1em;
            bottom: 12px;
        }
    }
    & i{display: none;}
    &__booking{
        transform: scaleX(0);
    }
    &:active{
        & > .dish__booking{
            display: flex;
            align-self: flex-end;
            justify-content: center;
            align-items: center;
            min-width: 59px;
            height: 69px;
            border-radius: 0 14px 14px 0;
            background-color: $tertiarycolor;
            margin-right: 0px;
            & > .check, i{
                display: flex;
                align-self: center;
                width: 22px;
                height: 22px;
                border-radius: 50%;
                font-size: 0.95em;
                padding: 2px 0 0 2px;
                color: $tertiarycolor;
                background-color: $basecolor;
            }
            transform-origin: right;
            transform: scaleX(1);
            transition: transform 500ms ease-in-out;
        }
        & > .dish__name{;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
    @media (min-width: 992px){
        &:hover{
            & > .dish__booking{
                display: flex;
                align-self: flex-end;
                justify-content: center;
                align-items: center;
                min-width: 59px;
                height: 69px;
                border-radius: 0 14px 14px 0;
                background-color: $tertiarycolor;
                margin-right: 0px;
                & > .check, i{
                    display: flex;
                    align-self: center;
                    width: 22px;
                    height: 22px;
                    border-radius: 50%;
                    font-size: 0.95em;
                    padding: 2px 0 0 2px;
                    color: $tertiarycolor;
                    background-color: $basecolor;
                }
                transform-origin: right;
                transform: scaleX(1);
                transition: transform 500ms ease-in-out;
            }
            & > .dish__name{;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }
}