// Section Menus
.menus{
    display: flex;
    width: 100%;
    max-width: 640px;
    margin: auto;
    height: auto;
    flex-direction: column;
    padding: 30px 5% 58px 5%;
    position: relative;
    top: 220px;
    background-color: $groundcolor;
    border-radius: 36px 36px 0 0;
    &__titles{
        display: flex;
        justify-content: space-between;
        align-items: center;
        & h1{
            width: auto;
            font-family: 'Shrikhand';
            font-size: 1.45em;
            font-weight: 500;
            padding: 6px 1.6%;
        }
        & i{
            font-size: 1.7em;
            padding-right: 5.87%; /* 22px; */
        }
        & img{
            display: none;
        }
        & :active {
            & > .heart{
                & i{
                    display: none;
                }
                & img{
                    display: flex;
                    width: 32px;
                    height: 32px;
                    transform: scale(0.1);
                }
                transform: scale(10);
                transition: transform 500ms;
            }
        }
        @media (min-width: 640px){
            & :hover {
                & > .heart{
                    & i{
                        display: none;
                    }
                    & img{
                        display: flex;
                        width: 36px;
                        height: 36px;
                        transform: scale(0.1);
                    }
                    transform: scale(10);
                    transition: transform 500ms;
                }
            }
        }
    }
    @media (min-width: 430px) {
        top: 260px;
    }
    @media (min-width: 500px) {
        top: 300px;
    }
    @media (min-width: 590px) {
        top: 340px;
    }
    @media (min-width: 640px) {
        top: 20px;
        margin-bottom: -180px;
        border-radius: 36px 36px;
    }
}