// Sections
.headers{
    @include h2s;
    margin-bottom: 32px;
}
// Section Fonctionnement
.operative{ 
    justify-content: center;
    align-items: center;
    padding: 52px 5.5% 62px 5.5%;
    max-width: 640px;
    margin: auto;
    & h2{
        align-self: flex-start;
        margin-left: 1%;
        @media (min-width: 992px){
            font-size: 1.4em;
        }
    }
    & p{
        @media (min-width: 992px){
            font-size: 1.25em;
        }
    }
}
.howto{
    @include cartes-howto;
    @include radius;
    @include box-shadow($shadow);
    @include ground;
    &--background{
        @include cartes-howto;
        @include radius;
        @include box-shadow($shadow);
        background-color: $secondarybtncolor;
    }
    &__step--sort{
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: $primarycolor;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0px auto;
        padding-top: 2px;
        position: absolute;
        left: -12px;
        @include typography;
        @media (min-width: 992px){
            font-size: 1em;
            width: 28px;
            height: 28px;
        }
    }
    &__step__byline{
        @include inline;
        i{
            font-size: 22px;
            text-align: center;
            color: $iconcolor;
            @media (min-width: 992px){
                font-size: 28px;
            }
        }
        &--bg{
            @include inline;
            i{
                font-size: 22px;
                text-align: center;
                color: $primarycolor;
                @media (min-width: 992px){
                    font-size: 28px;
                }
            }
        }
    }
}
// Section Restaurants
.restaurants{
    @include column;
    @include ground;
    align-items: center;
    max-width: 640px;
    margin: auto;
    padding: 58px 5.5%;
    & h2{
        align-self: flex-start;
        margin-left: 1%;
        @media (min-width: 992px){
            font-size: 1.6em;
        }
    }
    @media (min-width: 640px){
        margin-bottom: -40px;
    }
}
.card{
    @include column;
    @include radius;
    @include box-shadow($shadow);
    position: relative;
    width: 100%;
    max-width: 420px;
    height: auto; 
    background-color: $basecolor;
    margin-bottom: 24px;
    @media (min-width: 1240px){
        max-width: 500px;
        height: 340px;
    }
    & a{
        text-decoration: none;
        color: black;
    }
    & img{
        width: 100%;
        height:175px; 
        border-radius: 20px 20px 0 0;
        object-fit: cover;
        object-position: bottom ;
        @media (min-width: 1240px){
            height: 254px;
        }
    }
    &__new-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 29px;
        border-radius: 2px;
        background-color: $tertiarycolor;
        font-size: 0.8em;
        font-weight: 500;
        color: $newcolortext;
        position: absolute;
        top: 13px;
        right: 12px;
        @media (min-width: 992px){
            font-size: 0.9em;
            padding-top: 3px;
        }
        @media (min-width: 1240px){
            width: 86px;
            height: 34px;
            font-size: 1em;
            top: 22px;
            right: 22px;
            p{
                align-self: center;
            }
        }
    }
    &__like{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 14px 24px 20px 16px;
        & img{
            display: none;
        }
        &__byline{
            width: 166px;
            height: 42px;
            padding-top: -20px;
            line-height: 1.3;
            letter-spacing: -0.5px;
            @media (min-width: 1240px){
                width: 200px;
            }
        }
        & h3{
            font-size: 1em;
            font-weight: 700;
            @media (min-width: 992px){
                font-size: 1.05em;
            }
            @media (min-width: 1240px){
                font-size: 1.15em;
                margin-left: 14px;
            }
        }
        & p{
            font-size: 0.93em;
            @media (min-width: 992px){
                font-size: 0.99em;
            }
            @media (min-width: 1240px){
                font-size: 1.08em;
                margin-left: 14px;
            }
        }
        & i{
            font-size: 24px;
            @media (min-width: 992px){
                font-size: 26px;
            }
            @media (min-width: 1240px){
                font-size: 28px;
                margin-right: 12px;
            }
        }
        &.heart img{
            width: 0%;
        }
    } 
}

