// Progressive appearance of the degraded heart
@keyframes appearheart{
    0%{
        opacity: 0.3;
        transform: scale(0);
    }
    50%{
        opacity: 0.6;
        transform: scale(0.5);
    }
    100%{
        opacity: 1;
        transform: scale(1.1);
    }
}