//Background color
@mixin ground{
    background-color: $groundcolor;
}

// Standard Shadow
@mixin box-shadow ($shadow){
    box-shadow: 5px 5px 5px $shadow;
}

// Rounded Button Shape
@mixin round-btn{
    border-radius: 25px;
}

// Button Color Gradient
@mixin gradient-btn{
    background: linear-gradient(-5deg, $primarycolor, $secondarycolor);
}

@mixin lighten-btn{
    background: linear-gradient(-5deg, #a06be1, #ff94e1);
}

// Flex-Direction: Column;
@mixin column{
    display: flex;
    flex-direction: column;
}

// Propriétés du h2
@mixin h2s{
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 115%;;
}

// Arrondi Général
@mixin radius{
    border-radius: 20px;
}

// Typographie Lettres Blanches
@mixin typography{
    color: $basecolor;
    font-size: 0.85em;
    font-weight: 500;
}

// Cartes Étapes de fonctionnement
@mixin cartes-howto{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 96%;
    max-width: 550px;
    height: auto;
    padding: 28px 40px 24px 40px;
    margin: 0 0 25px 12px;    
}

// Icon + Text des Cartes
@mixin inline{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    @include typography;
    color: black;
}