// Standard Shadow
@mixin box-shadow ($shadow){
    box-shadow: 5px 5px 5px $shadow;
}

// Rounded Button Shape
@mixin round-btn{
    border-radius: 25px;
}

// Button Color Gradient
@mixin gradient-btn{
    background: linear-gradient(-5deg, $primarycolor, $secondarycolor);
}

// Flex-Direction: Column;
@mixin column{
    width: 100%;
    display: flex;
    flex-direction: column;
}

// Propriétés du h2
@mixin h2s{
    font-size: 1.6rem;
    font-weight: 800;
    line-height: 115%;
    margin-left: 21px;
}