// Website Colors 

    $basecolor: #FFFFFF;
    $primarycolor: #9356DC;
    $secondarycolor: #FF79DA;
    $contrastcolor: #99E2D0;
    $shadow: #D4D4D4;
    $groundcolor: #F6F6F6;
    $mapscolor: #EAEAEA;
    $footercolor: #353535;

