// Website Colors 

    $basecolor: #FFFFFF;
    $primarycolor: #9356DC;
    $secondarycolor: #FF79DA;
    $secondarybtncolor: #F5EDFF;
    $iconcolor: #7E7E7E;
    $tertiarycolor: #99E2D0;
    $newcolortext: #008766;
    $shadow: #D4D4D4;
    $groundcolor: #F6F6F6;
    $mapscolor: #EAEAEA;
    $footercolor: #353535;

// Timings + Elements
    // Loading Spinner
    $anim-time: 3000ms;
    $anim-delay: 150ms;
    
    // Elements
    $num-dish: 3;

    // Appearance menus
    $menus-time: 725ms;
    $menus-delay: $menus-time / $num-dish*3;